@model IEnumerable<FashionShopConnection.SanPham>
<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#best">BEST SALES</a></li>
    </ul>
    <div class="tab-content">
        <div id="best" class="tab-pane fade in active">
            <div class="products">
                <div class="col-sm-10">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-4">
                                <div class="product">
                                    <div class="image">
                                        <a href="@Url.Action("Details", new { id = @item.MaSanPham })"><img src="~/Asset/images/@item.HinhChinh" style="width:300px;height:200px;" /></a>
                                        <ul class="buttons">
                                            <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                            <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                            <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="caption">
                                        <div class="name"><h3><a href="@Url.Action("Details", new { id = @item.MaSanPham })">@item.TenSanPham</a></h3></div>
                                        <div class="price">@item.Gia</div>
                                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @*<div class="col-sm-5 five-two">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product">
                                <div class="image">
                                    <a href="product.html"><img src="~/Asset/images/clothing_sp12_1.jpg" /></a>
                                    <ul class="buttons">
                                        <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                        <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                        <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                    </ul>
                                </div>
                                <div class="caption">
                                    <div class="name"><h3><a href="product.html">Pretty Playsuit</a></h3></div>
                                    <div class="price">$122<span>$98</span></div>
                                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="product">
                                <div class="image">
                                    <a href="product.html"><img src="~/Asset/images/clothing_sp19_1.jpg" /></a>
                                    <div class="hot">
                                        <span>HOT</span>
                                    </div>
                                    <ul class="buttons">
                                        <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                        <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                        <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                    </ul>
                                </div>
                                <div class="caption">
                                    <div class="name"><h3><a href="product.html">Pretty Playsuit</a></h3></div>
                                    <div class="price">$122<span>$98</span></div>
                                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>*@<!-- end inner row -->
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>