@model FashionShopConnection.LoaiSanPham
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        background-color: #000;
    }
</style>


<h3> Sửa Loại Sản Phẩm </h3>

<div>
    @using (Html.BeginForm()) 
    {  @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaLSP)
        <div class="form-group">
            <div class="col-md-10">
                Mã Loại Sản Phẩm:
                @Html.EditorFor(model => model.MaLSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaLSP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Tên Loại Sản Phẩm :
                @Html.EditorFor(model => model.TenLSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLSP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-10">
            <label for="country">Tình Trạng</label>
            <select id="country" name="TinhTrang">

                @if (Model.TinhTrang == 1)
                {
                    <option value="1" selected>1 (Đang Bán)</option>
                                            <option value="0">0 (Chưa Có)</option>
                }
                else
                {
                    <option value="1">1 (Đang Bán)</option>
                     <option value="0" selected>0 (Chưa Có)</option>
                }
            </select>
        </div>
        <input type="submit" value="Submit">

    }

</div>

